[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
waitress = "==3.0.0"
prisma = "==0.12.0"
quart = "==0.19.4"
hypercorn = "==0.16.0"
pandas = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3"
