[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
waitress = "==3.0.0"
prisma = "==0.12.0"
flask = {extras = ["async"], version = "3.0.2"}

[dev-packages]

[requires]
python_version = "3"
