<header
  class="sticky top-0 inset-x-0 flex flex-wrap sm:justify-start sm:flex-nowrap z-[48] w-full bg-white border-b text-sm py-2.5 sm:py-4 lg:ps-64 dark:bg-gray-800 dark:border-gray-700">
  <nav class="flex basis-full items-center w-full mx-auto px-4 sm:px-6 md:px-8" aria-label="Global">
    <div class="flex items-center space-x-2 lg:hidden mr-4">
      <button id="menu-button-open" data-collapse-toggle="navbar-hamburger" type="button" class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-hamburger" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
      <a class="text-xl font-semibold dark:text-white" href="/" aria-label="Brand">ARUP</a>
    </div>

    <div class="w-full flex items-center justify-end ms-auto sm:justify-between sm:gap-x-3 sm:order-3">
      <div class="sm:hidden">
        <button type="button"
          class="w-[2.375rem] h-[2.375rem] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
          <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round">
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
          </svg>
        </button>
      </div>

      <div class="hidden sm:block grow">
        <label for="icon" class="sr-only">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4">
            <svg class="flex-shrink-0 size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round">
              <circle cx="11" cy="11" r="8" />
              <path d="m21 21-4.3-4.3" />
            </svg>
          </div>
          <form action="/" method="get">
            <input type="text" id="search" name="search" oninput="getSuggestions(this.value)" accesskey="s"
              class="py-2 px-4 ps-11 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
              placeholder="Search (Alt+Shift+S)">
          </form>
          <div id="search-dropdown" class="absolute top-full start-0 z-10 bg-white border border-gray-200 w-full max-h-60 overflow-y-auto shadow-md mt-1 rounded-md">
          </div>
        </div>
        
      </div>
      <div class="rounded-lg p-2 dark:bg-slate-900 dark:border-gray-700">
        <a href="/settings">
          <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 13v-2a1 1 0 0 0-1-1h-.8l-.7-1.7.6-.5a1 1 0 0 0 0-1.5L17.7 5a1 1 0 0 0-1.5 0l-.5.6-1.7-.7V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.8l-1.7.7-.5-.6a1 1 0 0 0-1.5 0L5 6.3a1 1 0 0 0 0 1.5l.6.5-.7 1.7H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.8l.7 1.7-.6.5a1 1 0 0 0 0 1.5L6.3 19a1 1 0 0 0 1.5 0l.5-.6 1.7.7v.8a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.8l1.7-.7.5.6a1 1 0 0 0 1.5 0l1.4-1.4a1 1 0 0 0 0-1.5l-.6-.5.7-1.7h.8a1 1 0 0 0 1-1Z" />
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
          </svg>
        </a>
      </div>
    </div>
  </nav>
</header>

<script>
  let timeout = null;

  function getSuggestions(query) {
    clearTimeout(timeout); // Clear the timeout if it exists

    // Set a new timeout
    timeout = setTimeout(async function() {
      if (query !== '') {
        const response = await fetch('/autocomplete?q=' + query);
        const data = await response.json();
        console.log("Data: ", data);
        updateDropdown(data, query);
      } else {
        document.getElementById("search-dropdown").style.display = 'none';
      }
    }, 10); // Wait 300ms after the user stops typing to run getSuggestions
  }

  function updateDropdown(data, query) {
    let dropdown = document.getElementById("search-dropdown");
    if (!dropdown) {
      dropdown = document.createElement('div');
      dropdown.id = "search-dropdown";
      document.querySelector('.relative').appendChild(dropdown); 
    }
  
    dropdown.innerHTML = ''; // Clear existing
    // Add location names
    if (data.locations) {
      data.locations.forEach(location => {
        let item = document.createElement('div');
        //make user typed text bold
        let regex = new RegExp(`(${query})`, 'gi');
        item.innerHTML = location.name.replace(regex, '<strong>$1</strong>');  
        item.classList.add('dropdown-item', 'hover:bg-gray-100', 'hover:text-black', 'p-2', 'transition-colors', 'duration-200', 'ease-in-out'); 
        
        //say if its location
        let type = document.createElement('span');
        type.textContent = ' (Location)';
        type.classList.add('text-sm', 'text-gray-500'); // Adjust these classes as needed
        item.appendChild(type);

        // Add event listener
        item.addEventListener('click', () => {
          window.location.href = '/' + location.id;
        });

        dropdown.appendChild(item);
      });
    }
  
    // Add run names
    if (data.runs) {
      data.runs.forEach(run => {
        let item = document.createElement('div')        
        let regex = new RegExp(`(${query})`, 'gi');
        item.innerHTML = run.name.replace(regex, '<strong>$1</strong>');        
        item.classList.add('dropdown-item', 'hover:bg-gray-100', 'hover:text-black', 'p-2', 'transition-colors', 'duration-200', 'ease-in-out'); 

        //say if its run
        let type = document.createElement('span');
        type.textContent = ' (Run)';
        type.classList.add('text-sm', 'text-gray-500'); // Adjust these classes as needed
        item.appendChild(type);
        // Add event listener
        item.addEventListener('click', () => {
          window.location.href = '/' + run.locationID + '/' + run.id;
        });

        dropdown.appendChild(item);
      });
    }
  
    dropdown.style.display = 'block'; 
  }


</script>