<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}

  <body class="bg-gray-50 dark:bg-slate-900">
    <!-- ========== HEADER ========== -->
    {% include 'header.html' %}
    <!-- ========== MAIN CONTENT ========== -->
    {% include 'sidebar.html' %}

    <!-- Content -->
    <div class="max-w-[90rem] px-4 py-4 sm:px-6 lg:px-8 lg:ps-64 mx-auto">
      <!-- Table Section -->
      <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Card -->
        <div class="flex flex-col">
          <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
              <div
                class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700"
              >
                <!-- Header -->
                <div
                  class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700"
                >
                  <div>
                    <h2
                      class="text-xl font-semibold text-gray-800 dark:text-gray-200"
                    >
                      {{location.name}}
                    </h2>
                    <p class="text-sm text-gray-600 dark:text-gray-400">
                      Add Runs, edit and more.
                    </p>
                  </div>

                  <div>
                    <div class="inline-flex gap-x-2">
                      <a
                        href="/"
                        class="py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="flex-shrink-0 size-4"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.75 19.5 8.25 12l7.5-7.5"
                          />
                        </svg>
                        Back
                      </a>

                      <a
                        href="/{{location.id}}/create"
                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      >
                        <svg
                          class="flex-shrink-0 size-3"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          viewBox="0 0 16 16"
                          fill="none"
                        >
                          <path
                            d="M2.63452 7.50001L13.6345 7.5M8.13452 13V2"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                          />
                        </svg>
                        New Run
                      </a>
                      <button
                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-red-600 text-white hover:bg-red-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                        onclick="deleteRuns();"
                      >
                        <svg
                          class="flex-shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path
                            d="M3 6h18M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                          />
                        </svg>
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
                <!-- End Header -->

                <!-- Table -->
                <table
                  class="min-w-full divide-y divide-gray-200 dark:divide-gray-700"
                >
                  <!-- Table Heading -->
                  <thead class="bg-gray-50 dark:bg-slate-800">
                    <tr>
                      <th
                        scope="col"
                        class="ps-6 lg:ps-6 xl:px-6 pe-6 py-3 text-start"
                      >
                        <div class="flex items-center gap-x-2 justify-center">
                          <span
                            class="text-center text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                          >
                          </span>
                        </div>
                      </th>

                      <th
                        scope="col"
                        class="ps-6 lg:ps-6 xl:px-6 pe-6 py-3 text-start"
                      >
                        <div class="flex items-center gap-x-2 justify-center">
                          <span
                            class="text-center text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                          >
                            Name
                          </span>
                        </div>
                      </th>

                      <th scope="col" class="px-6 py-3 text-start">
                        <div class="flex items-center gap-x-2 justify-center">
                          <span
                            class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                          >
                            Progress
                          </span>
                        </div>
                      </th>

                      <th scope="col" class="px-6 py-3 text-start">
                        <div class="flex items-center gap-x-2 justify-center">
                          <span
                            class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                          >
                            Date
                          </span>
                        </div>
                      </th>

                      <th scope="col" class="px-6 py-3 text-start">
                        <div class="flex items-center gap-x-2 justify-center">
                          <span
                            class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                          >
                            Results
                          </span>
                        </div>
                      </th>

                      <th scope="col" class="px-6 py-3 text-start">
                        <div class="flex items-center gap-x-2 justify-center">
                          <span
                            class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                          >
                            Download
                          </span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  {% for run in location.runs %}
                  <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                    <tr
                      class="cursor-pointer bg-white hover:bg-gray-200 dark:bg-slate-900 dark:hover:bg-slate-800"
                      data-runid="{{ run.id }}"
                    >
                      <td class="size-px whitespace-nowrap">
                        <button type="button" class="block w-full">
                          <span
                            class="px-1 py-2 flex items-center justify-center"
                          >
                            <input
                              type="checkbox"
                              class="runs-checkbox form-checkbox h-5 w-5 text-blue-600 checkbox-hidden"
                              data-runid="{{ run.id }}"
                            />
                          </span>
                        </button>
                      </td>
                      <td class="size-px whitespace-nowrap">
                        <button
                          type="button"
                          class="block w-full"
                          data-hs-overlay="#hs-ai-invoice-modal"
                        >
                          <span class="block px-6 py-2">
                            <span
                              class="font-mono text-sm text-blue-600 dark:text-blue-500"
                              >{{ run.name }}</span
                            >
                          </span>
                        </button>
                      </td>

                      <td class="size-px whitespace-nowrap py-2 text-center">
                        {% set ns = namespace(completed_count=0) %} {% set
                        total_count = run.runsTests|length %} {% if
                        run.runsTests %} {% for runTest in run.runsTests %} {%
                        if runTest.status == "COMPLETED" %} {% set
                        ns.completed_count = ns.completed_count + 1 %} {% endif
                        %} {% endfor %} {% endif %} {% if total_count ==
                        ns.completed_count %} {% include
                        'runs/results/components/completed_icon.html' %} {% else
                        %} {% include
                        'runs/results/components/pending_icon.html' %} {% endif
                        %}
                        <!-- End Circular Progress -->
                      </td>

                      <td class="size-px whitespace-nowrap">
                        <button
                          type="button"
                          class="block w-full"
                          data-hs-overlay="#hs-ai-invoice-modal"
                        >
                          <span class="block px-6 py-2">
                            <span
                              class="text-sm text-gray-600 dark:text-gray-400"
                              >{{ run.date.strftime('%d %B %Y | %H:%M:%S')
                              }}</span
                            >
                          </span>
                        </button>
                      </td>

                      <td class="size-px whitespace-nowrap">
                        <button
                          type="button"
                          class="block w-full"
                          data-hs-overlay="#hs-ai-invoice-modal"
                        >
                          <span class="block px-6 py-2">
                            {% set ns = namespace(completed_count=0) %} {% set
                            total_count = run.runsTests|length %} {% if
                            run.runsTests %} {% for runTest in run.runsTests %}
                            {% if runTest.status == "COMPLETED" %} {% set
                            ns.completed_count = ns.completed_count + 1 %} {%
                            endif %} {% endfor %} {% endif %}
                            <span class="text-bold {% if ns.completed_count < total_count %} {{'text-yellow-600'}} {% else %} {{'text-green-600'}} {% endif %}">
                              {{ ns.completed_count }}/{{ total_count }}
                            </span>
                          </span>
                        </button>
                      </td>

                      <td class="size-px whitespace-nowrap">
                        <button
                          type="button"
                          class="block w-full"
                          data-hs-overlay="#hs-ai-invoice-modal"
                        >
                          <span
                            class="block px-6 py-2 flex items-center justify-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="lucide lucide-download text-gray-600 dark:text-gray-400"
                            >
                              <path
                                d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
                              />
                              <polyline points="7 10 12 15 17 10" />
                              <line x1="12" x2="12" y1="15" y2="3" />
                            </svg>
                          </span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>

                {% if location.runs|length < 1 %}
                <div
                  class="w-full justify-center text-center text-gray-600 dark:text-gray-400 p-5"
                >
                  No runs have been added yet.
                </div>
                {% endif %}
                <!-- End Table -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Table Section -->
  </body>

  <!-- Preline UI Library Script -->
  <script>
    document.querySelectorAll("tr").forEach((row) => {
      row.addEventListener("click", (event) => {
        if (event.target.tagName === "INPUT") {
          return; // Stop redirection if clicking on the checkbox
        }

        const runId = row.getAttribute("data-runid");
        window.location.href += `/${runId}`;
      });
    });

    function deleteRuns() {
      const selectedRuns = Array.from(
        document.querySelectorAll("input.runs-checkbox:checked")
      ).map((checkbox) => checkbox.getAttribute("data-runid"));
      if (selectedRuns.length === 0) {
        alert("Please select at least one run to delete.");
        return;
      }

      // Add event listeners to checkboxes
      document.querySelectorAll("input.runs-checkbox").forEach((checkbox) => {
        checkbox.addEventListener("click", (event) => {
          event.stopPropagation(); // Prevent event from propagating to parent row
        });
      });

      if (
        confirm(`Are you sure you want to delete ${selectedRuns.length} runs?`)
      ) {
        // Send a DELETE request to the server for each selected run
        Promise.all(
          selectedRuns.map((runId) =>
            fetch(`/api/run/${runId}`, {
              method: "DELETE",
            })
              .then((response) => {
                // Remove the deleted elements from the table
                if (response.ok) {
                  document.querySelector(`tr[data-runid="${runId}"]`).remove();
                } else {
                  console.error("Error deleting run:", response.statusText);
                }
              })
              .catch((error) => console.error("Error deleting run:", error))
          )
        );
      }
    }
  </script>
</html>
